.spots-content-box {
  background-color: #83a5c0;
  width: 25%;
  padding: 1%;
  position: relative;
  z-index: -2;
}

.spots-content-box-img {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5%;
  z-index: -1;
}